html, body {
	margin: 0;
	padding: 0;
}



 .navigation ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, RGB(0, 255, 255), RGB(0, 0, 255)); }





.navigation li  {
  float: left;

}

.navigation li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: gray;

}



li a:hover {
  border-radius: 4px;
  background-color: #555;
  color: white;
}



.jumbotron {
	background-image: url(fotos/Doctor-computer2.jpg); 
	padding-top: 1%;
	padding-bottom: 233px;
	min-width: 100%;
	background-repeat: no-repeat;
	}



.container {
	margin-left: 1%;
	position: relative;

}



h1 {
  color:black;
}

.Uitlijnen {
padding-left: 30px;	
padding-right: 100px; 
}



